<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <a (click)="cambioPass()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Introduce el código de 6 dígitos que enviamos a tu correo {{correo}}</p>
  <ion-item>
    <ion-input type="number" [(ngModel)]="digitos.n1" debounce='0' (ionChange)='cambiar(0)'></ion-input>
    <ion-input type="number" [(ngModel)]="digitos.n2" debounce='0' (ionChange)='cambiar(1)'></ion-input>
    <ion-input type="number" [(ngModel)]="digitos.n3" debounce='0' (ionChange)='cambiar(2)'></ion-input>
    <ion-input type="number" [(ngModel)]="digitos.n4" debounce='0' (ionChange)='cambiar(3)'></ion-input>
    <ion-input type="number" [(ngModel)]="digitos.n5" debounce='0' (ionChange)='cambiar(4)'></ion-input>
    <ion-input type="number" [(ngModel)]="digitos.n6" debounce='0' (ionChange)='cambiar(5)'></ion-input>
  </ion-item>
  <button (click)="reenviarCodigo()">
    No he recibido el correo
    <ion-label *ngIf="espera">{{tiempoRestante}}</ion-label>
  </button>
</ion-content>
