<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <a (click)="cambioPass()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--padding-top: 6vh">
  <p class="textoCorreo">
    Introduce el código de 6 dígitos que enviamos a tu correo {{correo}}
  </p>
  <ion-item class="centrarItem">
    <ion-input
      class="inpCodigo"
      type="tel"
      inputmode="numeric"
      [(ngModel)]="digitos.n1"
      (paste)="pegar($event)"
      debounce="0"
      maxlength="1"
      (ionChange)="cambiar($event,0)"
    ></ion-input>
    <ion-input
      class="inpCodigo"
      type="tel"
      inputmode="numeric"
      [(ngModel)]="digitos.n2"
      debounce="0"
      maxlength="1"
      (ionChange)="cambiar($event,1)"
    ></ion-input>
    <ion-input
      class="inpCodigo"
      type="tel"
      inputmode="numeric"
      [(ngModel)]="digitos.n3"
      debounce="0"
      maxlength="1"
      (ionChange)="cambiar($event,2)"
    ></ion-input>
    <ion-input
      class="inpCodigo"
      type="tel"
      inputmode="numeric"
      [(ngModel)]="digitos.n4"
      debounce="0"
      maxlength="1"
      (ionChange)="cambiar($event,3)"
    ></ion-input>
    <ion-input
      class="inpCodigo"
      type="tel"
      inputmode="numeric"
      [(ngModel)]="digitos.n5"
      debounce="0"
      maxlength="1"
      (ionChange)="cambiar($event,4)"
    ></ion-input>
    <ion-input
      class="inpCodigo"
      type="tel"
      inputmode="numeric"
      [(ngModel)]="digitos.n6"
      debounce="0"
      maxlength="1"
      (ionChange)="cambiar($event,5)"
    ></ion-input>
  </ion-item>

  <div class="reenviarCodigo textoCorreo">
    <ion-text *ngIf="tiempoRestante!==0">
      Podrás solicitar un código nuevo en: <br />
      <ion-text color="primary">{{tiempoRestante}} segundos</ion-text>
    </ion-text>
    <ion-text color="primary" *ngIf="tiempoRestante===0">
      <a (click)="reenviarCodigo()" color="primary">Reenviar código</a>
    </ion-text>
  </div>
  <div class="botonJustificado" *ngIf="finalizado">
    <ion-button
      color="dark"
      (click)="validateCode()"
      style="margin-top: 5vh; width: 70vw"
    >
      Enviar
    </ion-button>
  </div>
</ion-content>
