<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <a (click)="cambioPass()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Introduce el código de 6 dígitos que enviamos a tu correo {{correo}}</p>
  <ion-item>
    <ion-input
      type="tel"
      inputmode="numeric"
      [(ngModel)]="digitos.n1"
      (paste)="pegar($event)"
      debounce="0"
      maxlength="1"
      (ionChange)="cambiar($event,0)"
    ></ion-input>
    <ion-input
      type="tel"
      inputmode="numeric"
      [(ngModel)]="digitos.n2"
      debounce="0"
      maxlength="1"
      (ionChange)="cambiar($event,1)"
    ></ion-input>
    <ion-input
      type="tel"
      inputmode="numeric"
      [(ngModel)]="digitos.n3"
      debounce="0"
      maxlength="1"
      (ionChange)="cambiar($event,2)"
    ></ion-input>
    <ion-input
      type="tel"
      inputmode="numeric"
      [(ngModel)]="digitos.n4"
      debounce="0"
      maxlength="1"
      (ionChange)="cambiar($event,3)"
    ></ion-input>
    <ion-input
      type="tel"
      inputmode="numeric"
      [(ngModel)]="digitos.n5"
      debounce="0"
      maxlength="1"
      (ionChange)="cambiar($event,4)"
    ></ion-input>
    <ion-input
      type="tel"
      inputmode="numeric"
      [(ngModel)]="digitos.n6"
      debounce="0"
      maxlength="1"
      (ionChange)="cambiar($event,5)"
    ></ion-input>
  </ion-item>
  <button (click)="reenviarCodigo()">No he recibido el correo</button>
  <ion-button color="primary" *ngIf="finalizado" expand="block" (click)="validateCode()">
    Enviar
  </ion-button>
</ion-content>