<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Buscar</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      showCancelButton="focus"
      cancelButtonText="Cancelar"
      animated
      placeholder="Buscar paquetes o categorías"
      debounce="500"
      (ionChange)="onSearchChange($event)"
      [(ngModel)]="busqueda"
      mode="ios"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let paquete of paquetes">
    <div>
      <ion-slides
        pager="true"
        [options]="slideOpts"
        style="
          position: relative;
          max-height: 10rem;
          width: 100%;
          object-fit: cover;
        "
      >
        <ion-slide *ngFor="let imagen of paquete.imagenes;index as i">
          <cached-img
            [src]="urlApi+imagen.ruta"
            [spinner]="true"
            button
            (click)="verImagenes(paquete.id,i)"
          ></cached-img>
        </ion-slide>
      </ion-slides>
      <button class="btn" (click)="favoritos(paquete.id)">
        <ion-icon id="favorito{{paquete.id}}"
          name="{{paquete.favorito===false||paquete.favorito===undefined?'heart-outline':'heart'}}"
        ></ion-icon>
      </button>
    </div>
    <ion-card-header button (click)="verPaquete(paquete.id)">
      <ion-card-subtitle>{{paquete.categoria.nombre}}</ion-card-subtitle>
      <ion-card-title>{{paquete.titulo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content button (click)="verPaquete(paquete.id)">
      {{paquete.descripcion.length>60?paquete.descripcion.slice(0,60)+"...":paquete.descripcion}}
    </ion-card-content>
  </ion-card>
</ion-content>
