<ion-content>
  <div>
    <ion-img
      src="assets/img/fondo.jpg"
      style="filter: blur(1px)"
      class="imgFondo"
    ></ion-img>
    <ion-img src="assets/img/logo-sinfondo.png" class="logo"></ion-img>
  </div>
  <div class="contenido">
    <div class="paddingLetras">
      <ion-text>Iniciar sesión</ion-text>
    </div>
    <ion-item class="inputCentrado">
      <ion-label position="stacked" class="label">
        Correo electrónico
      </ion-label>
      <ion-input
        #inputEmail
        [(ngModel)]="usuario.email"
        autocomplete="email"
        type="email"
        placeholder="ejemplo@ejemplo.com"
      ></ion-input>
    </ion-item>
    <ion-item class="inputCentrado" style="padding-top: 2vh">
      <ion-label position="stacked" class="label"> Contraseña </ion-label>
      <ion-input
        [(ngModel)]="usuario.password"
        [type]="passwordTypeInput"
        #passwordEyeRegister
        autocomplete="current-password"
        placeholder="Contraseña"
        aria-label="Contraseña"
      ></ion-input>
      <button item-end class="btn_eye_icon" (click)="togglePasswordMode()">
        <ion-icon
          [name]="(passwordTypeInput === 'text')?'eye-off':'eye'"
        ></ion-icon>
      </button>
    </ion-item>
    <div class="reiniciarPass">
      <a (click)="reiniciarPassword()" style="color: var(--ion-color-medium)"
        >¿Contraseña olvidada?</a
      >
    </div>
    <div class="botonJustificado">
      <ion-button
        (click)="login()"
        color="dark"
        style="margin-top: 6vh; height: 7vh; width: 70vw"
      >
        Entrar
      </ion-button>
    </div>
    <div class="registro">
      <p style="font-size: 14px">
        ¿Aun no tienes cuenta?
        <a
          style="font-size: 16px"
          (click)="registro()"
          style="color: var(--ion-color-medium)"
          >Registrate</a
        >
      </p>
    </div>
  </div>
  <ion-button (click)="lG()">saashjkhasdjkasd</ion-button>
</ion-content>
