<ion-content>
  <div>
    <ion-img
      src="assets/img/fondo.jpg"
      style="filter: blur(1px)"
      class="imgFondo"
    ></ion-img>
    <ion-img src="assets/img/logo-sinfondo.png" class="logo"></ion-img>
  </div>
  <div class="contenido">
    <div class="paddingLetras">
      <ion-text>Iniciar sesión</ion-text>
    </div>
    <ion-item class="inputCentrado">
      <ion-label position="stacked" class="label">
        Correo electrónico
      </ion-label>
      <ion-input
        #inputEmail
        [(ngModel)]="usuario.email"
        (ionFocus)="animacion()"
        autocomplete="email"
        type="email"
        placeholder="ejemplo@ejemplo.com"
      ></ion-input>
    </ion-item>
    <ion-item class="inputCentrado" style="padding-top: 2vh">
      <ion-label position="stacked" class="label"> Contraseña </ion-label>
      <ion-input
        [(ngModel)]="usuario.password"
        type="password"
        autocomplete="current-password"
        placeholder="Contraseña"
        aria-label="Contraseña"
      ></ion-input>
    </ion-item>
    <div class="reiniciarPass">
      <a (click)="reiniciarPassword()" style="color: var(--ion-color-medium)"
        >¿Contraseña olvidada?</a
      >
    </div>
    <ion-button
      (click)="login()"
      expand="block"
      color="dark"
      style="margin-top: 6vh; height: 7vh"
    >
      Entrar
    </ion-button>
    <div class="registro">
      <p style="font-size: 14px">
        ¿Aun no tienes cuenta?
        <a style="font-size: 16px" (click)="registro()" style="color: var(--ion-color-medium)">Registrate</a>
      </p>
    </div>
  </div>
</ion-content>
