<ion-header parallax imageUrl="{{imgban}}" height="40%">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" (click)="tabs()"></ion-icon>
    </ion-buttons>
    <ion-title style="margin-top: 10px;">
      Paquete {{paquete.titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1 style="margin: 0px 2vh"><p>{{paquete.titulo}}</p></h1>
  <ion-item style="margin-top: -4vh">
    <p>{{paquete.descripcion}}</p>
  </ion-item>
  <ion-item>
    <p>{{paquete.categoria.nombre}}</p>
  </ion-item>
  <ion-accordion-group value="extras">
    <ion-accordion value="extras">
      <ion-item slot="header">
        <ion-label>Extras</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item *ngFor="let extra of paquete.extras">
          <ion-thumbnail slot="start">
            <img :src="{{urlExtras}}{{extra.ruta}}" />
          </ion-thumbnail>
          <ion-label>{{extra.nombre}}</ion-label>
          <ion-checkbox
            slot="end"
            mode="ios"
            (ionChange)="agregarExtra(extra.id)"
          ></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
  <ion-item>
    <ion-label>Mont night</ion-label>
    <ion-checkbox
      [(ngModel)]="montNightV"
      slot="end"
      mode="ios"
      (ionChange)="montNight()"
    ></ion-checkbox>
  </ion-item>
  <div class="botonAgregar">
    <ion-button class="btnAgregar" color="medium" (click)="agregarCarrito()">
      Agregar al carrito.
    </ion-button>
  </div>
</ion-content>
