.error {
  font-size: 12px;
  padding-left: 2vh;
}
.contenido {
  padding-top: 4vh;
}
.btnEnviar {
  padding-top: 5vh;
  height: 12vh;
  width: 70vw;
}
.botonJustificado {
  display: flex;
  justify-content: center;
}
