<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <a (click)="login()"> <ion-icon name="arrow-back-outline"></ion-icon> </a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [formGroup]="usuario" class="contenido">
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input
        type="email"
        formControlName="email"
        autocomplete="email"
      ></ion-input>
    </ion-item>
    <ion-label
      color="danger"
      class="error"
      *ngIf="usuario.controls.email.errors?.required && (usuario.controls.email.touched || usuario.controls.email.dirty)"
      >* El correo electrónico es obligatorio
    </ion-label>
    <div class="botonJustificado">
      <ion-button
        expand="block"
        color="dark"
        (click)="reiniciarPass()"
        [disabled]="!usuario.valid"
        class="btnEnviar"
      >
        Confirmar
      </ion-button>
    </div>
  </div>
</ion-content>
