<ion-header> </ion-header>
<ion-content class="contenido">
  <ion-segment
    scrollable
    mode="md"
    (ionChange)="filtrar($event)"
    value="{{filtro}}"
  >
    <ion-segment-button value="0">
      <div class="icono">
        <fa-icon [icon]="['fas','align-justify']"></fa-icon>
      </div>
      <ion-label text-wrap>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button
      class="botonSeccion"
      *ngFor="let categoria of categorias"
      value="{{categoria.id}}"
    >
      <div class="icono">
        <fa-icon [icon]="['fas',categoria.icono]"></fa-icon>
      </div>
      <ion-label text-wrap
        >{{categoria.nombre.length>10?categoria.nombre.substring(0,10):categoria.nombre}}</ion-label
      >
    </ion-segment-button>
  </ion-segment>

  <ion-refresher slot="fixed" (ionRefresh)="refrescar($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Suelta para refrescar"
      refreshingSpinner="circles"
      refreshingText="Recargando..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let paquete of paquetes">
    <div>
      <ion-slides
        pager="true"
        [options]="slideOpts"
        style="
          position: relative;
          max-height: 10rem;
          width: 100%;
          object-fit: cover;
        "
      >
        <ion-slide *ngFor="let imagen of paquete.imagenes;index as i">
          <cached-img
            [src]="urlApi+imagen.ruta"
            [spinner]="true"
            button
            (click)="verImagenes(paquete.id,i)"
          ></cached-img>
          <!-- <img
            :src="{{urlApi}}{{imagen.ruta}}"
            :alt="{{paquete.nombre}}"
            button
            (click)="verImagenes(paquete.id,i)"
          /> -->
        </ion-slide>
      </ion-slides>

      <button class="btn" (click)="favoritos(paquete.id)">
        <ion-icon id="favorito{{paquete.id}}"
          name="{{paquete.favorito===false||paquete.favorito===undefined?'heart-outline':'heart'}}"
        ></ion-icon>
      </button>
    </div>
    <ion-card-header button (click)="verPaquete(paquete.id)">
      <ion-card-subtitle>{{paquete.categoria.nombre}}</ion-card-subtitle>
      <ion-card-title>{{paquete.titulo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content button (click)="verPaquete(paquete.id)">
      {{paquete.descripcion.length>60?paquete.descripcion.slice(0,60)+"...":paquete.descripcion}}
    </ion-card-content>
  </ion-card>

  <ion-button
    *ngIf="carrito"
    class="botonCarrito"
    color="dark"
    expand="full"
    (click)="verCarrito()"
    style="z-index: 15;"
  >
    Ver carrito ({{nProductos}})</ion-button
  >
  <ion-infinite-scroll threshold="100px" (ionInfinite)="cargarMas($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando mas paquetes..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
